= form_for @pet do |f|
  -if @pet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pet.errors.count, "error")} prohibited this pet from being saved:"
      %ul
        - @pet.errors.full_messages.each do |msg|
          %li= msg

  .row
    .column.grid_6
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :photo
        = f.file_field :photo
      .field
        = f.label :age
        = f.text_field :age
      .field
        = f.label :dob
        = f.date_select :dob

      .field
        = f.hidden_field :user_id, :value => current_user.id
    .column.grid_6
      .field
        = f.label :notes
        = f.text_area :notes
      .actions
        = f.submit 'Save'

