- content_for :stylesheets do
  = stylesheet_link_tag 'pets'

%h1 Your Pets

- @pets.each do |pet|
  .pet-profile
    = link_to pet.name, pet  

.pet-create
  = link_to 'Create Pet ...', new_pet_path

.debug
  = current_user.id
  = current_user.username
  = current_user.email

-# %td= link_to 'Show', pet
-# %td= link_to 'Edit', edit_pet_path(pet)
-# %td= link_to 'Destroy', pet, :confirm => 'Are you sure?', :method => :delete


