%h1 Your Pet's Profile

.row
  .column.grid_6
    %p.pet-profile-element
      %b Name:
      = @pet.name
    %p.pet-profile-element
      = link_to image_tag @pet.photo.url(:thumb)
    %p.pet-profile-element
      %b Age:
      = @pet.age
    %p.pet-profile-element
      %b Dob:
      = @pet.dob
  .column.grid_6
    %p.pet-profile-element
      %b Notes:
      = @pet.notes
.row
  .column.grid_6
    &nbsp;
  .column.grid_6
    = link_to 'Edit', edit_pet_path(@pet)
    \|
    = link_to 'Delete', @pet, :confirm => 'Are you sure?', :method => :delete

