-# = javascript_include_tag :defaults
-# = csrf_meta_tag

%h1 Your friends

- current_user.friendships.each do |friendship|
  = friendship.friend.username
  (
  = button_to "remove", friendship, :method => :delete
  )

-# %h1= current_user.public_methods
  
- @users.each do |user|
  = user.username
  (
  = link_to 'Show', user
  )|(
  = button_to 'Add Friend', friendships_path(:friend_id => user)
  -#, :method => :post
  )


%p#notice= notice 

%p
	= @invitations = current_user.sent_invitations.collect(&:recipient_email)

-# %table
-#  %tr
-#    %th
-#    %th
-#    %th

-#  - @users.each do |user|
-#    %tr
-#      %td= link_to 'Show', user
-#      %td= link_to 'Edit', edit_user_path(user)
-#      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

-# %br

-# = link_to 'New User', new_user_path
