%h1 Network

%h2 Network
- @friendships.each do |friendship|
  = friendship.friend.username 
  = button_to "Remove friend", friendship, :method => :delete

%h2 Send invites to friends to join network
= link_to "Add more friends", new_invitation_path

%h2 Invitations Sent
- @invitations_sent.each do |invite|
  = invite.recipient_email
  = ['Unregistered', 'Not Accepted', 'Declined', 'Accepted'][invite.status]
  %br

%h2 Invitations Received
- @invitations_recv.each do |invite|
  = User.find(invite.sender_id).username
  = ['Unregistered', 'Not Accepted', 'Declined', 'Accepted'][invite.status]
  = button_to 'Accept Invite', friendships_path(:friend_id => invite.sender_id)
  %br

%h2 All users in the system - will be removed
  
- @users.each do |user|
  = user.username
  = button_to 'Add Friend', friendships_path(:friend_id => user)


-# %p
-#  = @invitations = current_user.sent_invitations.collect(&:recipient_email)

