!!! XML
!!!
%html
  %head
    %title Welcome to iCoddle
    = stylesheet_link_tag "layout"
    = yield :stylesheets
    %style{:type => 'text/css'}
      = yield :style_overrides

  %body
    = render :partial => 'layouts/ga' if Rails.env == 'production'

    #container
      #header.row
        #header-title.column.grid_6
          %a{:href => ""} iCoddle
        #header-links.column.grid_3
          %ul.header-ul
            %li
              %a{:href => ""} Products
            %li
              %a{:href => ""} About Us
        #header-login.column.grid_3
          -# %a{:href => ""} Login
          - if current_user
            %ul.header-ul
              %li
                = link_to "Edit Profile", edit_user_path(current_user.id)
              %li
                = link_to "Logout", :logout
          - else
            %ul.header-ul
              %li
                = link_to "Register", new_user_path
              %li
                = link_to "Login", :login
      #main
        .indentmenu#tabs
          %ul#tab-ul
            %li
              %a{:href => ""} Network
            %li
              %a{:href => "/pets"} Pets
            %li
              %a{:href => ""} Vacation
            %li
              %a{:href => ""} Feeder
        = render 'layouts/flash_messages'
        #content
          = yield
      #footer
        Copyright iCoddle, Inc. 2011
      =render 'layouts/debug_context'
