!!! XML
!!!
%html
  %head
    %title Welcome to iCoddle
    = stylesheet_link_tag "layout"
    -# %link{:rel => "stylesheet", :type => "text/css", :href => "layout.css"}
  %body
    #container
      #header
        #header-title
          %a{:href => ""} iCoddle
        #header-links
          %ul#header-ul
            %li
              %a{:href => ""} Products
            %li
              %a{:href => ""} About Us
        #header-login
          -# %a{:href => ""} Login
          - if current_user
            = link_to "Edit Profile", edit_user_path(current_user.id)
            \|
            = link_to "Logout", :logout
          - else          
            = link_to "Register", new_user_path
            \|
            = link_to "Login", :login
      #main
        .indentmenu#tabs
          %ul#tab-ul
            %li
              %a{:href => ""} Network
            %li
              %a{:href => ""} Pets
            %li
              %a{:href => ""} Vacation
            %li
              %a{:href => ""} Feeder
        #content
          = yield
      #footer
        Copyright iCoddle, Inc. 2011
